<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>HeartbeatServlet</servlet-name>
    <servlet-class>com.learning.hello.HeartbeatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.learning.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeartbeatServlet</servlet-name>
    <url-pattern>/heartbeat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fibonacciServlet</display-name>
    <servlet-name>fibonacciServlet</servlet-name>
    <servlet-class>com.learning.hello.fibonacciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fibonacciServlet</servlet-name>
    <url-pattern>/fibonacci</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.learning.hello.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiLo</display-name>
    <servlet-name>HiLo</servlet-name>
    <servlet-class>com.learning.hello.HiLo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiLo</servlet-name>
    <url-pattern>/HiLo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdometerServlet</display-name>
    <servlet-name>OdometerServlet</servlet-name>
    <servlet-class>com.learning.hello.OdometerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdometerServlet</servlet-name>
    <url-pattern>/OdometerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mangatha</display-name>
    <servlet-name>Mangatha</servlet-name>
    <servlet-class>MangathaGame.Mangatha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mangatha</servlet-name>
    <url-pattern>/Mangatha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.learning.hello.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newTennis</display-name>
    <servlet-name>newTennis</servlet-name>
    <servlet-class>newTennis.newTennis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newTennis</servlet-name>
    <url-pattern>/newTennis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tennisMatchSErvelet</display-name>
    <servlet-name>tennisMatchSErvelet</servlet-name>
    <servlet-class>tennisMatch.tennisMatchSErvelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tennisMatchSErvelet</servlet-name>
    <url-pattern>/tennisMatchSErvelet</url-pattern>
  </servlet-mapping>
</web-app>